<!-- <style>
  .modal-content {
      background-color: #212121
    }

  .come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
	border-radius: 0px;
  }

  .come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
  }

  /* Right */
  .come-from-modal.right.fade .modal-dialog {
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  .come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }
</style>


<div class="modal fade come-from-modal right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cart Items</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          {% for owned_item in owned_items %}
          {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                     <div class="card-body">
                         <h5 class="card-title">{{ owned_item.name }}</h5>
                         <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px" data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                             Sell
                         </button>
                         <p class="card-text">
                          <strong>
                             This item costs {{ owned_item.price }}$
                          </strong>
                         </p>
                     </div>
                 </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
 
  </div>

</div>
 -->
