{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}
    
<div class="row" style="margin-top: 20px; margin-left: 20px; margin-right: 300px;">
    <h2>Shopping Time</h2>
    <br>
    <br>
    <table class="table table-hover table-dark">
        <thread>
            <tr>
                <!-- Your Columns HERE-->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thread>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            {% include 'includes/items_modals.html' %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>₹ {{ item.price }}</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                    <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  
{% for owned_item in owned_items %}
{% include 'includes/owned_items_modals.html' %}
<div style="position: fixed; right: 20px; top: 150px;">
    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
        <i class="fa fa-shopping-cart"></i>
        <span>Add to cart</span>
    </button>
</div>
{% endfor %}
{% endblock %}