{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}

    <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 20px; padding: 5px 25px;">
        <h2>Shopping Time</h2>
        <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            {% include 'includes/cart.html' %}
            <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-shopping-cart"></i>
                <span>Add to cart</span>
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; margin-left: 5px;">
        <div class="col-8">
            <br>
            <table class="table table-hover table-dark">
                <thread>
                    <tr>
                        <!-- Your Columns HERE-->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thread>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items %}
                    {% include 'includes/items_modals.html' %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>₹{{ item.price }}</td>
                        <td>
                            <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                            <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- <div class="row" style="margin-top: 20px; margin-left: 5px;">
            <div style="padding: 15px;">
                <table class="table table-hover table-dark">
                    <tr>
                        <th>
                            <h2>today's deal</h2>
                            <br>
                            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ1Y3G_UFZpVkUwMQP4pOMvpvkkQEqcpjCfWXZqsiwqqghgP7D2SMLtRJvC43JPRJoZhmTp7KR5E0HfDvw_FoH7dp3ZkU3pyL8SN2E4iNAJGy5xcFNhxv0W&usqp=CAE" alt="" style="float: left; margin: 0 15px 0 0;">
                            <p>Apple iPhone 14 Pro Max 1 TB (Deep Purple, 6 GB RAM)</p>
                            <p>Offer Price :₹ 189,900</p>
                        </th>
                    </tr>                    
                </table>
            </div>
        </div> -->
    </div>

    
{% endblock %}